{% extends "admin/core/base.html" %}

{% block title %}DOAJ Transporter{% endblock %}
{% block title-section %}DOAJ Transporter{% endblock %}

{% block body %}
    <div class="large-12 columns">
        <div class="box">
            <div class="title-area">
                <h2>Articles</h2>
            </div>
            <div class="content">
                <form method="POST" action="{% url 'doaj_push_article' %}">
                    {% csrf_token %}
                    <table class="small article_list" id="articles">
                        <thead>
                        <tr>
                            <td width="30%">Title</td>
                            <td>Published</td>
                            <td>Identifier</td>
                            <td>Latest Push</td>
                            <td></td>
                        </tr>
                        </thead>

                        <tbody>
                        {% for article in articles %}
                            <tr>
                                <td><a href="{% url 'manage_archive_article' article.pk %}">{{ article.title|safe }}</a>
                                </td>
                                <td>{{ article.date_published }}</td>
                                <td>{{ article.identifier }}</td>
                                <td>
                                    {{ article.latest_deposit.date_time }}&nbsp
                                    {% if article.latest_deposit.success %}
                                    <span class="fa fa-check-circle" style="color:green;"></span>
                                    {% elif article.latest_deposit.success == False %}
                                    <span class="fa fa-times-circle" style="color:red;" data-tooltip tabindex="1" title="{{ article.latest_deposit.result_text }}" data-position="bottom" data-alignment="center"></span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if request.user.is_staff %}
                                    <a class="small button" href="{% url 'admin:doaj_transporter_doajdeposit_changelist' %}?article__id__exact={{ article.pk }}" target="_blank">Admin logs</a>
                                    {% endif %}
                                    {% if article.can_push %}
                                    <a class="small button" href="{% url 'doaj_article_json' article.pk %}" target="_blank">View JSON</a>
                                    {% endif %}
                                    <button name="article_id" value="{{ article.pk }}" class="small success button"
                                     {% if not article.can_push %}data-tooltip tabindex="1" title="Article is not ready to be sent to DOAJ" data-position="bottom" data-alignment="center" disabled{% endif %}
                                    >
                                        <i
                                                class="fa fa-paper-plane" aria-hidden="true">&nbsp;</i> Push
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include "elements/datatables.html" with target="#articles" %}
{% endblock %}
